*
{
     margin: 0;
    padding: 0;
        
}


body
{
    margin: 0;
    padding: 0;
    background-color: black;

}

.a
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}


h1
{
    color: white;
}